<div class='wrapper'>
    <div class='main grid'>
        <div class='main_banner'>
            <div class='main_banner_container'>
                <div class='slider_wrapper'>
                    <ul>
                        <li>
                            <a href='#'>
                                <div
                                    class='slider_content_image'
                                    style="background: url('https://cf.shopee.vn/file/{{sliderImages.10.top}}') center top / 100% no-repeat;"
                                ></div>
                            </a>
                        </li>

                        {{#each sliderImages}}
                            <li>
                                <a href='#'>
                                    <div
                                        class='slider_content_image'
                                        style="background: url('https://cf.shopee.vn/file/{{this.top}}') center top / 100% no-repeat;"
                                    ></div>
                                </a>
                            </li>
                        {{/each}}

                        <li>
                            <a href='#'>
                                <div
                                    class='slider_content_image'
                                    style="background: url('https://cf.shopee.vn/file/{{sliderImages.0.top}}') center top / 100% no-repeat;"
                                ></div>
                            </a>
                        </li>
                    </ul>

                    <button class='slider_button slider_button_back'>
                        <i class='fa-solid fa-chevron-left'></i>
                    </button>

                    <button class='slider_button slider_button_next'>
                        <i class='fa-solid fa-chevron-right'></i>
                    </button>

                    <div class='slider_stardusts_container'>
                        <div
                            class='slider_stardust slider_stardust--active'
                        ></div>

                        <div class='slider_stardust'></div>

                        <div class='slider_stardust'></div>

                        <div class='slider_stardust'></div>

                        <div class='slider_stardust'></div>

                        <div class='slider_stardust'></div>

                        <div class='slider_stardust'></div>

                        <div class='slider_stardust'></div>

                        <div class='slider_stardust'></div>

                        <div class='slider_stardust'></div>

                        <div class='slider_stardust'></div>
                    </div>
                </div>

                <div class='main_banner_right'>
                    {{#each bannerImages}}
                        {{#when this.description 'eq' 'mainBannerTop'}}
                            <a href='#'>
                                <div
                                    class='banner_right_image'
                                    style="background: url('https://cf.shopee.vn/file/{{this.image}}') center top / 100% no-repeat;"
                                ></div>
                            </a>
                        {{else}}{{#when
                                this.description
                                'eq'
                                'mainBannerBottom'
                            }}
                                <a href='#'>
                                    <div
                                        class='banner_right_image'
                                        style="background: url('https://cf.shopee.vn/file/{{this.image}}') center top / 100% no-repeat;"
                                    ></div>
                                </a>
                            {{/when}}{{/when}}
                    {{/each}}
                </div>
            </div>

            <div class='main_banner_category'>
                {{#each dealOptions}}
                    <a href='#'>
                        <div
                            style="background-image: url('https://cf.shopee.vn/file/{{this.logo}}');"
                        ></div>
                        <div>{{this.title}}</div>
                    </a>
                {{/each}}
            </div>
        </div>

        <div class='main_content grid'>
            <div class='main_content_banner'>
                {{#each bannerImages}}
                    {{#when this.description 'eq' 'midBanner'}}
                        <a href='#'>
                            <div
                                style="background: url('https://cf.shopee.vn/file/{{this.image}}') center/cover;"
                            ></div>
                        </a>
                    {{/when}}
                {{/each}}
            </div>

            <div class='main_content_category'>
                <div class='content_category_title'>
                    <span>DANH MỤC</span>
                </div>

                <div class='content_category_body'>
                    <div class='category_wrapper'>
                        <div class='category_container'>
                            <ul>
                                {{#each categoryList}}
                                    <li>
                                        <a href='#'>
                                            <div
                                                style="background-image: url('https://cf.shopee.vn/file/{{this.image}}');"
                                            ></div>
                                            <span>{{this.displayname}}</span>
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>

                        <button
                            class='carousel_button_back carousel_buttons carousel_buttons--hint'
                            style='display: none'
                            type='button'
                        >
                            <i class='fa-solid fa-chevron-left'></i>
                        </button>

                        <button
                            class='carousel_button_next carousel_buttons carousel_buttons--hint'
                            type='button'
                        >
                            <i class='fa-solid fa-chevron-right'></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class='main_content_flashsale'>
                <div class='content_flashsale_header'>
                    <div class='flashsale_header_title'>
                        <div
                            class='header_title_logo'
                            style="background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/fb1088de81e42c4e538967ec12cb5caa.png')"
                        >
                        </div>

                        <div class='header_title_countdown'>
                            <div class='title_countdown title_countdown_hours'>
                                <div class='countdown_slide countdown_10'>
                                    <div>0</div>
                                    <div>5</div>
                                    <div>4</div>
                                    <div>3</div>
                                    <div>2</div>
                                    <div>1</div>
                                    <div>0</div>
                                </div>
                                <div class='countdown_slide countdown_1'>
                                    <div>0</div>
                                    <div>9</div>
                                    <div>8</div>
                                    <div>7</div>
                                    <div>6</div>
                                    <div>5</div>
                                    <div>4</div>
                                    <div>3</div>
                                    <div>2</div>
                                    <div>1</div>
                                    <div>0</div>
                                </div>
                            </div>

                            <div
                                class='title_countdown title_countdown_minutes'
                            >
                                <div class='countdown_slide countdown_10'>
                                    <div>0</div>
                                    <div>5</div>
                                    <div>4</div>
                                    <div>3</div>
                                    <div>2</div>
                                    <div>1</div>
                                    <div>0</div>
                                </div>
                                <div class='countdown_slide countdown_1'>
                                    <div>0</div>
                                    <div>9</div>
                                    <div>8</div>
                                    <div>7</div>
                                    <div>6</div>
                                    <div>5</div>
                                    <div>4</div>
                                    <div>3</div>
                                    <div>2</div>
                                    <div>1</div>
                                    <div>0</div>
                                </div>
                            </div>

                            <div
                                class='title_countdown title_countdown_seconds'
                            >
                                <div class='countdown_slide countdown_10'>
                                    <div>0</div>
                                    <div>5</div>
                                    <div>4</div>
                                    <div>3</div>
                                    <div>2</div>
                                    <div>1</div>
                                    <div>0</div>
                                </div>
                                <div class='countdown_slide countdown_1'>
                                    <div>0</div>
                                    <div>9</div>
                                    <div>8</div>
                                    <div>7</div>
                                    <div>6</div>
                                    <div>5</div>
                                    <div>4</div>
                                    <div>3</div>
                                    <div>2</div>
                                    <div>1</div>
                                    <div>0</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a class='flashsale_header_seemore' href='#'>
                        <span>Xem Tất Cả</span>
                        <svg
                            enable-background='new 0 0 11 11'
                            viewBox='0 0 11 11'
                            x='0'
                            y='0'
                        >
                            <path
                                d='m2.5 11c .1 0 .2 0 .3-.1l6-5c .1-.1.2-.3.2-.4s-.1-.3-.2-.4l-6-5c-.2-.2-.5-.1-.7.1s-.1.5.1.7l5.5 4.6-5.5 4.6c-.2.2-.2.5-.1.7.1.1.3.2.4.2z'
                            >
                            </path>
                        </svg>
                    </a>
                </div>

                <div class='content_flashsale_body'>
                    <div class='category_wrapper'>
                        <div class='category_container'>
                            <ul>
                                {{#each flashsaleItems}}
                                    <li>
                                        <a href='#'>
                                            <div
                                                class='flashsale_product_image'
                                                style="background-image: url('https://cf.shopee.vn/file/{{this.mainimage}}')"
                                            >
                                                <div
                                                    class='flashsale_product_deal'
                                                    style="background-image: url('https://cf.shopee.vn/file/{{this.layerimage}}')"
                                                ></div>
                                                <div
                                                    class='flashsale_product_discount'
                                                >{{this.discount}}
                                                    <span>GIẢM</span>
                                                </div>
                                            </div>

                                            <div
                                                class='flashsale_product_detail'
                                            >
                                                <div
                                                    class='flashsale_product_price'
                                                >
                                                    <span
                                                    >₫</span>{{toNumberString
                                                        this.price
                                                    }}
                                                </div>

                                                <div
                                                    class='flashsale_product_sold'
                                                    style="background-image: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/ac7f81d9ee062223753413ec98497a86.png');"
                                                >
                                                    <div
                                                        class='product_sold_process'
                                                        style='left: calc({{this.totalsold}} / {{this.totaltosale}} * 100%);'
                                                    ></div>
                                                    <span>Đã bán
                                                        {{this.totalsold}}</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>

                        <button
                            class='carousel_button_back carousel_buttons carousel_buttons--hint'
                            style='display: none;'
                            type='button'
                        >
                            <i class='fa-solid fa-chevron-left'></i>
                        </button>

                        <button
                            class='carousel_button_next carousel_buttons carousel_buttons--hint'
                            type='button'
                        >
                            <i class='fa-solid fa-chevron-right'></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class='main_content_subbanner'>
                {{#each bannerImages}}
                    {{#when this.description 'eq' 'botBanner'}}
                        <div
                            class='content_subbanner_wrapper'
                            style="background-image: url('https://cf.shopee.vn/file/{{this.image}}');"
                        >
                            <a href='#'></a>
                            <a href='#'></a>
                            <a href='#'></a>
                        </div>
                    {{/when}}
                {{/each}}
            </div>

            <div class='main_content_shopmall row'>
                <div class='content_shopmall_header col-12'>
                    <div class='shopmall_header_title'>
                        <a href='#'>shopee mall</a>

                        <ul class='shopmall_header_benefits'>
                            <li>
                                <img
                                    src='https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/homepage/6c502a2641457578b0d5f5153b53dd5d.png'
                                    alt='Free Return'
                                />
                                <span>7 Ngày Miễn Phí Trả Hàng</span>
                            </li>

                            <li>
                                <img
                                    src='https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/homepage/511aca04cc3ba9234ab0e4fcf20768a2.png'
                                    alt='100% Genuine'
                                />
                                <span>Hàng Chính Hãng 100%</span>
                            </li>

                            <li>
                                <img
                                    src='https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/homepage/16ead7e0a68c3cff9f32910e4be08122.png'
                                    alt='Free Shipping'
                                />
                                <span>Miễn Phí Vận Chuyển</span>
                            </li>
                        </ul>
                    </div>

                    <a class='shopee_header_seeall' href='#'>
                        <span>Xem Tất Cả</span>
                        <div class='seeall_icon_wrapper'>
                            <svg
                                enable-background='new 0 0 11 11'
                                viewBox='0 0 11 11'
                                x='0'
                                y='0'
                            >
                                <path
                                    d='m2.5 11c .1 0 .2 0 .3-.1l6-5c .1-.1.2-.3.2-.4s-.1-.3-.2-.4l-6-5c-.2-.2-.5-.1-.7.1s-.1.5.1.7l5.5 4.6-5.5 4.6c-.2.2-.2.5-.1.7.1.1.3.2.4.2z'
                                >
                                </path>
                            </svg>
                        </div>
                    </a>
                </div>

                <div class='content_shopmall_content row'>
                    <div class='shopmall_content_slider col-4'>
                        <div class='slider_wrapper'>
                            <ul>
                                <li>
                                    <a href='#'>
                                        <div
                                            class='slider_content_image'
                                            style="background: url('https://cf.shopee.vn/file/{{sliderImages.7.middle}}') center top / 100% no-repeat;"
                                        ></div>
                                    </a>
                                </li>

                                {{#each sliderImages}}
                                    {{#if this.middle}}
                                        <li>
                                            <a href='#'>
                                                <div
                                                    class='slider_content_image'
                                                    style="background: url('https://cf.shopee.vn/file/{{this.middle}}') center top / 100% no-repeat;"
                                                ></div>
                                            </a>
                                        </li>
                                    {{/if}}
                                {{/each}}

                                <li>
                                    <a href='#'>
                                        <div
                                            class='slider_content_image'
                                            style="background: url('https://cf.shopee.vn/file/{{sliderImages.0.middle}}') center top / 100% no-repeat;"
                                        ></div>
                                    </a>
                                </li>
                            </ul>

                            <button class='slider_button slider_button_back'>
                                <i class='fa-solid fa-chevron-left'></i>
                            </button>

                            <button class='slider_button slider_button_next'>
                                <i class='fa-solid fa-chevron-right'></i>
                            </button>

                            <div class='slider_stardusts_container'>
                                <div
                                    class='slider_stardust slider_stardust--active'
                                ></div>

                                <div class='slider_stardust'></div>

                                <div class='slider_stardust'></div>

                                <div class='slider_stardust'></div>

                                <div class='slider_stardust'></div>

                                <div class='slider_stardust'></div>

                                <div class='slider_stardust'></div>

                                <div class='slider_stardust'></div>
                            </div>
                        </div>

                    </div>

                    <div class='shopmall_content_category col-8'>
                        <div class='category_wrapper'>
                            <div class='category_container'>
                                <ul>
                                    {{#each mallShops}}
                                        <li>
                                            <a href='#'>
                                                <div
                                                    class='flashsale_product_image'
                                                    style="background: url('https://cf.shopee.vn/file/{{this.image}}') center/ contain;"
                                                >
                                                    <div
                                                    >{{this.promotext}}</div>
                                                </div>
                                            </a>
                                        </li>
                                    {{/each}}

                                    <li>
                                        <a href='#'>
                                            <span>Xem tất cả</span>
                                            <div class='seeall_icon_wrapper'>
                                                <svg
                                                    enable-background='new 0 0 11 11'
                                                    viewBox='0 0 11 11'
                                                    x='0'
                                                    y='0'
                                                >
                                                    <path
                                                        d='m2.5 11c .1 0 .2 0 .3-.1l6-5c .1-.1.2-.3.2-.4s-.1-.3-.2-.4l-6-5c-.2-.2-.5-.1-.7.1s-.1.5.1.7l5.5 4.6-5.5 4.6c-.2.2-.2.5-.1.7.1.1.3.2.4.2z'
                                                    >
                                                    </path>
                                                </svg>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <button
                                class='carousel_button_back carousel_buttons carousel_buttons--hint'
                                style='display: none;'
                                type='button'
                            >
                                <i class='fa-solid fa-chevron-left'></i>
                            </button>

                            <button
                                class='carousel_button_next carousel_buttons carousel_buttons--hint'
                                type='button'
                            >
                                <i class='fa-solid fa-chevron-right'></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class='main_content_topsearch'>
                <div class='content_topsearch_header'>
                    <div class='topsearch_header_title'>
                        tìm kiếm hàng đầu
                    </div>

                    <a class='topsearch_header_seemore' href='#'>
                        <span>Xem Tất Cả</span>
                        <svg
                            enable-background='new 0 0 11 11'
                            viewBox='0 0 11 11'
                            x='0'
                            y='0'
                        >
                            <path
                                d='m2.5 11c .1 0 .2 0 .3-.1l6-5c .1-.1.2-.3.2-.4s-.1-.3-.2-.4l-6-5c-.2-.2-.5-.1-.7.1s-.1.5.1.7l5.5 4.6-5.5 4.6c-.2.2-.2.5-.1.7.1.1.3.2.4.2z'
                            >
                            </path>
                        </svg>
                    </a>
                </div>

                <div class='content_topsearch_body'>
                    <div class='category_wrapper'>
                        <div class='category_container'>
                            <ul>
                                {{#each topSearch}}
                                    <li>
                                        <a href='#'>
                                            <div
                                                class='category_image'
                                                style="background-image: url('https://cf.shopee.vn/file/{{this.image}}');"
                                            >
                                                <div
                                                    class='topsearch_logo'
                                                    style="background: url('https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/homepage/06720e49514cbd94b7552496b4de454a.png') center/cover no-repeat;"
                                                ></div>
                                                <div
                                                    class='category_image_layout'
                                                >{{this.soldquantity}}</div>
                                            </div>

                                            <span>{{this.itemname}}</span>
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>

                        <button
                            class='carousel_button_back carousel_buttons carousel_buttons--hint'
                            style='display: none'
                            type='button'
                        >
                            <i class='fa-solid fa-chevron-left'></i>
                        </button>

                        <button
                            class='carousel_button_next carousel_buttons carousel_buttons--hint'
                            type='button'
                        >
                            <i class='fa-solid fa-chevron-right'></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class='main_content_items'>
                <div class='content_items_header row'>
                    <div class='items_header_recommend'>
                        <div class='header_recommend_title'>
                            gợi ý hôm nay
                        </div>

                        <div
                            class='highlight_line'
                        ></div>
                    </div>

                    <div class='items_header_ads'>
                        <div class='header_ads_logo'>
                            <img
                                src='https://cf.shopee.vn/file/8f8e434581a523a62fbf1bcd5485f81b'
                                alt=''
                            />
                        </div>
                    </div>
                </div>

                <div class='content_items_body col-12 grid'>
                    <div class='items_body items_body_recommed'>
                        <ul class='row'>
                            {{#each recommendItems}}
                                {{#when this.data_type 'eq' 'item'}}
                                    <li class='col-2'>
                                        <div class='item_wrapper'>
                                            <a class='recommend_item' href='#'>
                                                <div
                                                    class='recommend_item_image'
                                                    style="background-image: url('https://cf.shopee.vn/file/{{this.image}}')"
                                                >
                                                    <div
                                                        class='recommend_item_promotion'
                                                        style="background-image: url('https://cf.shopee.vn/file/{{this.overlay}}')"
                                                    ></div>

                                                    <img
                                                        class='recommend_item_flag'
                                                        src='https://cf.shopee.vn/file/{{this.flag}}'
                                                    />

                                                    <div
                                                        class='recommend_item_discount'
                                                    >
                                                        {{this.discount}}
                                                        <span>GIẢM</span>
                                                    </div>
                                                </div>

                                                <div
                                                    class='recommend_item_detail'
                                                >
                                                    <div
                                                        class='item_title'
                                                    >{{this.name}}</div>

                                                    <div
                                                        class='item_promotion'
                                                        {{#if this.promotion}}
                                                            style="background-image: url('https://cf.shopee.vn/file/{{this.promotion}}')"
                                                        {{/if}}
                                                    ></div>

                                                    <div class='item_info'>
                                                        <div class='item_price'>
                                                            <span
                                                            >₫</span>{{toNumberString
                                                                (getDiscountPrice
                                                                    this.origin_price
                                                                    this.discount
                                                                )
                                                            }}
                                                        </div>

                                                        <div
                                                            class='item_hisoricalSold'
                                                        >
                                                            Đã bán
                                                            {{changeUnit
                                                                this.historical_sold
                                                            }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>

                                            <div class='recommend_item_similar'>
                                                <a href='/'>Tìm sản phẩm tương tự</a>
                                            </div>
                                        </div>
                                    </li>
                                {{/when}}
                            {{/each}}

                            <li class='col-2'>
                                <div class='item_wrapper'>
                                    <a class='recommend_item' href='#'>
                                        <div
                                            class='recommend_item_image'
                                            style="background-image: url('https://cf.shopee.vn/file/{{recommendItems.55.image}}')"
                                        >
                                            <div
                                                class='recommend_item_promotion'
                                                style="background-image: url('https://cf.shopee.vn/file/{{recommendItems.55.overlay}}')"
                                            ></div>

                                            <img
                                                class='recommend_item_flag'
                                                src='https://cf.shopee.vn/file/{{recommendItems.55.flag}}'
                                            />

                                            <div
                                                class='recommend_item_discount'
                                            >
                                                {{recommendItems.55.discount}}
                                                <span>GIẢM</span>
                                            </div>
                                        </div>

                                        <div
                                            class='recommend_item_detail'
                                        >
                                            <div
                                                class='item_title'
                                            >{{recommendItems.55.name}}</div>

                                            <div
                                                class='item_promotion'
                                                {{#if recommendItems.55.promotion}}
                                                    style="background-image: url('https://cf.shopee.vn/file/{{recommendItems.55.promotion}}')"
                                                {{/if}}
                                            ></div>

                                            <div class='item_info'>
                                                <div class='item_price'>
                                                    <span>₫</span>
                                                    {{toNumberString (getDiscountPrice
                                                        recommendItems.55.origin_price
                                                        recommendItems.55.discount
                                                    )}}
                                                </div>

                                                <div
                                                    class='item_hisoricalSold'
                                                >
                                                    Đã bán
                                                    {{changeUnit
                                                        recommendItems.55.historical_sold
                                                    }}
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <div class='recommend_item_similar'>
                                        <a href='/'>Tìm sản phẩm tương tự</a>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div class='items_body_seemore row'>
                            <a href="#">Xem Thêm</a>
                        </div>
                    </div>

                    <div
                        class='items_body items_body_ads'
                    >
                        <ul class='row'>
                            {{#each recommendItems}}
                                <li class='col-2'>
                                    <div class='item_wrapper'>
                                        <a class='recommend_item' href='#'>
                                                <div
                                                    class='recommend_item_image'
                                                    style="background-image: url('https://cf.shopee.vn/file/{{this.image}}')"
                                                >
                                                    <div
                                                        class='recommend_item_promotion'
                                                        style="background-image: url('https://cf.shopee.vn/file/{{this.overlay}}')"
                                                    ></div>

                                                    <img
                                                        class='recommend_item_flag'
                                                        src='https://cf.shopee.vn/file/{{this.flag}}'
                                                    />

                                                    <div
                                                        class='recommend_item_discount'
                                                    >
                                                        {{this.discount}}
                                                        <span>GIẢM</span>
                                                    </div>
                                                </div>

                                                <div
                                                    class='recommend_item_detail'
                                                >
                                                    <div
                                                        class='item_title'
                                                    >{{this.name}}</div>

                                                    <div
                                                        class='item_promotion'
                                                        {{#if this.promotion}}
                                                            style="background-image: url('https://cf.shopee.vn/file/{{this.promotion}}')"
                                                        {{/if}}
                                                    ></div>

                                                    <div class='item_info'>
                                                        <div class='item_price'>
                                                            <span
                                                            >₫</span>{{toNumberString
                                                                (getDiscountPrice
                                                                    this.origin_price
                                                                    this.discount
                                                                )
                                                            }}
                                                        </div>

                                                        <div
                                                            class='item_hisoricalSold'
                                                        >
                                                            Đã bán
                                                            {{changeUnit
                                                                this.historical_sold
                                                            }}
                                                        </div>
                                                    </div>
                                                </div>
                                        </a>

                                        <div class='recommend_item_similar'>
                                            <a href='/'>Tìm sản phẩm tương tự</a>
                                        </div>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>

                        <div class='items_body_seemore row'>
                            <a href="#">Xem Thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main_chat">
            
        </div>
    </div>
</div>